body{
	  background: url('../imagem/nave_login.jpg') no-repeat;
	 
	  background-size: cover;
	.navbar{
		margin-bottom: 45px;

	}

	form{
		h2{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			padding-bottom: 35px;
		}
	}
}

	
@media screen and (max-width: 991px){
	.navbar{
		.btn{
			width: 100%;
		}
	}
}

.alert{
	p{
		text-align: center;
		margin: 0px;
	}	
}